<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.miraflores.mobile.historico.dao.HistoricoInvolucradoMapper">
  <resultMap id="BaseResultMap" type="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucrado">
    <id column="id_hist_involuc" jdbcType="INTEGER" property="idHistInvoluc" />
    <result column="id_hist" jdbcType="INTEGER" property="idHist" />
    <result column="cod_involuc" jdbcType="INTEGER" property="codInvoluc" />
    <result column="id_incidencia" jdbcType="INTEGER" property="idIncidencia" />
    <result column="cod_tpo_involuc" jdbcType="INTEGER" property="codTpoInvoluc" />
    <result column="cod_tpo_doc" jdbcType="INTEGER" property="codTpoDoc" />
    <result column="desc_tpo_involuc" jdbcType="VARCHAR" property="descTpoInvoluc" />
    <result column="desc_tpo_doc" jdbcType="VARCHAR" property="descTpoDoc" />
    <result column="nomb_involuc" jdbcType="VARCHAR" property="nombInvoluc" />
    <result column="edad_involuc" jdbcType="VARCHAR" property="edadInvoluc" />
    <result column="num_doc_involuc" jdbcType="VARCHAR" property="numDocInvoluc" />
    <result column="desc_observ" jdbcType="VARCHAR" property="descObserv" />
    <result column="cod_vehic" jdbcType="INTEGER" property="codVehic" />
    <result column="cod_clase_vehic" jdbcType="INTEGER" property="codClaseVehic" />
    <result column="cod_marca_vehic" jdbcType="INTEGER" property="codMarcaVehic" />
    <result column="cod_color_vehic" jdbcType="INTEGER" property="codColorVehic" />
    <result column="clase_vehic" jdbcType="VARCHAR" property="claseVehic" />
    <result column="marca_vehic" jdbcType="VARCHAR" property="marcaVehic" />
    <result column="model_vehic" jdbcType="VARCHAR" property="modelVehic" />
    <result column="placa_vehic" jdbcType="VARCHAR" property="placaVehic" />
    <result column="color_vehic" jdbcType="VARCHAR" property="colorVehic" />
    <result column="anio_vehic" jdbcType="VARCHAR" property="anioVehic" />
    <result column="est_reg" jdbcType="VARCHAR" property="estReg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_hist_involuc, id_hist, cod_involuc, id_incidencia, cod_tpo_involuc, cod_tpo_doc, 
    desc_tpo_involuc, desc_tpo_doc, nomb_involuc, edad_involuc, num_doc_involuc, desc_observ, 
    cod_vehic, cod_clase_vehic, cod_marca_vehic, cod_color_vehic, clase_vehic, marca_vehic, 
    model_vehic, placa_vehic, color_vehic, anio_vehic, est_reg
  </sql>
  <select id="selectByExample" parameterType="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucradoCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from histomapa.hist_involucrado
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from histomapa.hist_involucrado
    where id_hist_involuc = #{idHistInvoluc,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from histomapa.hist_involucrado
    where id_hist_involuc = #{idHistInvoluc,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucradoCriteria">
    delete from histomapa.hist_involucrado
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucrado">
    insert into histomapa.hist_involucrado (id_hist_involuc, id_hist, cod_involuc, 
      id_incidencia, cod_tpo_involuc, cod_tpo_doc, 
      desc_tpo_involuc, desc_tpo_doc, nomb_involuc, 
      edad_involuc, num_doc_involuc, desc_observ, 
      cod_vehic, cod_clase_vehic, cod_marca_vehic, 
      cod_color_vehic, clase_vehic, marca_vehic, 
      model_vehic, placa_vehic, color_vehic, 
      anio_vehic, est_reg)
    values (#{idHistInvoluc,jdbcType=INTEGER}, #{idHist,jdbcType=INTEGER}, #{codInvoluc,jdbcType=INTEGER}, 
      #{idIncidencia,jdbcType=INTEGER}, #{codTpoInvoluc,jdbcType=INTEGER}, #{codTpoDoc,jdbcType=INTEGER}, 
      #{descTpoInvoluc,jdbcType=VARCHAR}, #{descTpoDoc,jdbcType=VARCHAR}, #{nombInvoluc,jdbcType=VARCHAR}, 
      #{edadInvoluc,jdbcType=VARCHAR}, #{numDocInvoluc,jdbcType=VARCHAR}, #{descObserv,jdbcType=VARCHAR}, 
      #{codVehic,jdbcType=INTEGER}, #{codClaseVehic,jdbcType=INTEGER}, #{codMarcaVehic,jdbcType=INTEGER}, 
      #{codColorVehic,jdbcType=INTEGER}, #{claseVehic,jdbcType=VARCHAR}, #{marcaVehic,jdbcType=VARCHAR}, 
      #{modelVehic,jdbcType=VARCHAR}, #{placaVehic,jdbcType=VARCHAR}, #{colorVehic,jdbcType=VARCHAR}, 
      #{anioVehic,jdbcType=VARCHAR}, #{estReg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucrado">
    insert into histomapa.hist_involucrado
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idHistInvoluc != null">
        id_hist_involuc,
      </if>
      <if test="idHist != null">
        id_hist,
      </if>
      <if test="codInvoluc != null">
        cod_involuc,
      </if>
      <if test="idIncidencia != null">
        id_incidencia,
      </if>
      <if test="codTpoInvoluc != null">
        cod_tpo_involuc,
      </if>
      <if test="codTpoDoc != null">
        cod_tpo_doc,
      </if>
      <if test="descTpoInvoluc != null">
        desc_tpo_involuc,
      </if>
      <if test="descTpoDoc != null">
        desc_tpo_doc,
      </if>
      <if test="nombInvoluc != null">
        nomb_involuc,
      </if>
      <if test="edadInvoluc != null">
        edad_involuc,
      </if>
      <if test="numDocInvoluc != null">
        num_doc_involuc,
      </if>
      <if test="descObserv != null">
        desc_observ,
      </if>
      <if test="codVehic != null">
        cod_vehic,
      </if>
      <if test="codClaseVehic != null">
        cod_clase_vehic,
      </if>
      <if test="codMarcaVehic != null">
        cod_marca_vehic,
      </if>
      <if test="codColorVehic != null">
        cod_color_vehic,
      </if>
      <if test="claseVehic != null">
        clase_vehic,
      </if>
      <if test="marcaVehic != null">
        marca_vehic,
      </if>
      <if test="modelVehic != null">
        model_vehic,
      </if>
      <if test="placaVehic != null">
        placa_vehic,
      </if>
      <if test="colorVehic != null">
        color_vehic,
      </if>
      <if test="anioVehic != null">
        anio_vehic,
      </if>
      <if test="estReg != null">
        est_reg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idHistInvoluc != null">
        #{idHistInvoluc,jdbcType=INTEGER},
      </if>
      <if test="idHist != null">
        #{idHist,jdbcType=INTEGER},
      </if>
      <if test="codInvoluc != null">
        #{codInvoluc,jdbcType=INTEGER},
      </if>
      <if test="idIncidencia != null">
        #{idIncidencia,jdbcType=INTEGER},
      </if>
      <if test="codTpoInvoluc != null">
        #{codTpoInvoluc,jdbcType=INTEGER},
      </if>
      <if test="codTpoDoc != null">
        #{codTpoDoc,jdbcType=INTEGER},
      </if>
      <if test="descTpoInvoluc != null">
        #{descTpoInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="descTpoDoc != null">
        #{descTpoDoc,jdbcType=VARCHAR},
      </if>
      <if test="nombInvoluc != null">
        #{nombInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="edadInvoluc != null">
        #{edadInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="numDocInvoluc != null">
        #{numDocInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="descObserv != null">
        #{descObserv,jdbcType=VARCHAR},
      </if>
      <if test="codVehic != null">
        #{codVehic,jdbcType=INTEGER},
      </if>
      <if test="codClaseVehic != null">
        #{codClaseVehic,jdbcType=INTEGER},
      </if>
      <if test="codMarcaVehic != null">
        #{codMarcaVehic,jdbcType=INTEGER},
      </if>
      <if test="codColorVehic != null">
        #{codColorVehic,jdbcType=INTEGER},
      </if>
      <if test="claseVehic != null">
        #{claseVehic,jdbcType=VARCHAR},
      </if>
      <if test="marcaVehic != null">
        #{marcaVehic,jdbcType=VARCHAR},
      </if>
      <if test="modelVehic != null">
        #{modelVehic,jdbcType=VARCHAR},
      </if>
      <if test="placaVehic != null">
        #{placaVehic,jdbcType=VARCHAR},
      </if>
      <if test="colorVehic != null">
        #{colorVehic,jdbcType=VARCHAR},
      </if>
      <if test="anioVehic != null">
        #{anioVehic,jdbcType=VARCHAR},
      </if>
      <if test="estReg != null">
        #{estReg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucradoCriteria" resultType="java.lang.Long">
    select count(*) from histomapa.hist_involucrado
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update histomapa.hist_involucrado
    <set>
      <if test="record.idHistInvoluc != null">
        id_hist_involuc = #{record.idHistInvoluc,jdbcType=INTEGER},
      </if>
      <if test="record.idHist != null">
        id_hist = #{record.idHist,jdbcType=INTEGER},
      </if>
      <if test="record.codInvoluc != null">
        cod_involuc = #{record.codInvoluc,jdbcType=INTEGER},
      </if>
      <if test="record.idIncidencia != null">
        id_incidencia = #{record.idIncidencia,jdbcType=INTEGER},
      </if>
      <if test="record.codTpoInvoluc != null">
        cod_tpo_involuc = #{record.codTpoInvoluc,jdbcType=INTEGER},
      </if>
      <if test="record.codTpoDoc != null">
        cod_tpo_doc = #{record.codTpoDoc,jdbcType=INTEGER},
      </if>
      <if test="record.descTpoInvoluc != null">
        desc_tpo_involuc = #{record.descTpoInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="record.descTpoDoc != null">
        desc_tpo_doc = #{record.descTpoDoc,jdbcType=VARCHAR},
      </if>
      <if test="record.nombInvoluc != null">
        nomb_involuc = #{record.nombInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="record.edadInvoluc != null">
        edad_involuc = #{record.edadInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="record.numDocInvoluc != null">
        num_doc_involuc = #{record.numDocInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="record.descObserv != null">
        desc_observ = #{record.descObserv,jdbcType=VARCHAR},
      </if>
      <if test="record.codVehic != null">
        cod_vehic = #{record.codVehic,jdbcType=INTEGER},
      </if>
      <if test="record.codClaseVehic != null">
        cod_clase_vehic = #{record.codClaseVehic,jdbcType=INTEGER},
      </if>
      <if test="record.codMarcaVehic != null">
        cod_marca_vehic = #{record.codMarcaVehic,jdbcType=INTEGER},
      </if>
      <if test="record.codColorVehic != null">
        cod_color_vehic = #{record.codColorVehic,jdbcType=INTEGER},
      </if>
      <if test="record.claseVehic != null">
        clase_vehic = #{record.claseVehic,jdbcType=VARCHAR},
      </if>
      <if test="record.marcaVehic != null">
        marca_vehic = #{record.marcaVehic,jdbcType=VARCHAR},
      </if>
      <if test="record.modelVehic != null">
        model_vehic = #{record.modelVehic,jdbcType=VARCHAR},
      </if>
      <if test="record.placaVehic != null">
        placa_vehic = #{record.placaVehic,jdbcType=VARCHAR},
      </if>
      <if test="record.colorVehic != null">
        color_vehic = #{record.colorVehic,jdbcType=VARCHAR},
      </if>
      <if test="record.anioVehic != null">
        anio_vehic = #{record.anioVehic,jdbcType=VARCHAR},
      </if>
      <if test="record.estReg != null">
        est_reg = #{record.estReg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update histomapa.hist_involucrado
    set id_hist_involuc = #{record.idHistInvoluc,jdbcType=INTEGER},
      id_hist = #{record.idHist,jdbcType=INTEGER},
      cod_involuc = #{record.codInvoluc,jdbcType=INTEGER},
      id_incidencia = #{record.idIncidencia,jdbcType=INTEGER},
      cod_tpo_involuc = #{record.codTpoInvoluc,jdbcType=INTEGER},
      cod_tpo_doc = #{record.codTpoDoc,jdbcType=INTEGER},
      desc_tpo_involuc = #{record.descTpoInvoluc,jdbcType=VARCHAR},
      desc_tpo_doc = #{record.descTpoDoc,jdbcType=VARCHAR},
      nomb_involuc = #{record.nombInvoluc,jdbcType=VARCHAR},
      edad_involuc = #{record.edadInvoluc,jdbcType=VARCHAR},
      num_doc_involuc = #{record.numDocInvoluc,jdbcType=VARCHAR},
      desc_observ = #{record.descObserv,jdbcType=VARCHAR},
      cod_vehic = #{record.codVehic,jdbcType=INTEGER},
      cod_clase_vehic = #{record.codClaseVehic,jdbcType=INTEGER},
      cod_marca_vehic = #{record.codMarcaVehic,jdbcType=INTEGER},
      cod_color_vehic = #{record.codColorVehic,jdbcType=INTEGER},
      clase_vehic = #{record.claseVehic,jdbcType=VARCHAR},
      marca_vehic = #{record.marcaVehic,jdbcType=VARCHAR},
      model_vehic = #{record.modelVehic,jdbcType=VARCHAR},
      placa_vehic = #{record.placaVehic,jdbcType=VARCHAR},
      color_vehic = #{record.colorVehic,jdbcType=VARCHAR},
      anio_vehic = #{record.anioVehic,jdbcType=VARCHAR},
      est_reg = #{record.estReg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucrado">
    update histomapa.hist_involucrado
    <set>
      <if test="idHist != null">
        id_hist = #{idHist,jdbcType=INTEGER},
      </if>
      <if test="codInvoluc != null">
        cod_involuc = #{codInvoluc,jdbcType=INTEGER},
      </if>
      <if test="idIncidencia != null">
        id_incidencia = #{idIncidencia,jdbcType=INTEGER},
      </if>
      <if test="codTpoInvoluc != null">
        cod_tpo_involuc = #{codTpoInvoluc,jdbcType=INTEGER},
      </if>
      <if test="codTpoDoc != null">
        cod_tpo_doc = #{codTpoDoc,jdbcType=INTEGER},
      </if>
      <if test="descTpoInvoluc != null">
        desc_tpo_involuc = #{descTpoInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="descTpoDoc != null">
        desc_tpo_doc = #{descTpoDoc,jdbcType=VARCHAR},
      </if>
      <if test="nombInvoluc != null">
        nomb_involuc = #{nombInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="edadInvoluc != null">
        edad_involuc = #{edadInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="numDocInvoluc != null">
        num_doc_involuc = #{numDocInvoluc,jdbcType=VARCHAR},
      </if>
      <if test="descObserv != null">
        desc_observ = #{descObserv,jdbcType=VARCHAR},
      </if>
      <if test="codVehic != null">
        cod_vehic = #{codVehic,jdbcType=INTEGER},
      </if>
      <if test="codClaseVehic != null">
        cod_clase_vehic = #{codClaseVehic,jdbcType=INTEGER},
      </if>
      <if test="codMarcaVehic != null">
        cod_marca_vehic = #{codMarcaVehic,jdbcType=INTEGER},
      </if>
      <if test="codColorVehic != null">
        cod_color_vehic = #{codColorVehic,jdbcType=INTEGER},
      </if>
      <if test="claseVehic != null">
        clase_vehic = #{claseVehic,jdbcType=VARCHAR},
      </if>
      <if test="marcaVehic != null">
        marca_vehic = #{marcaVehic,jdbcType=VARCHAR},
      </if>
      <if test="modelVehic != null">
        model_vehic = #{modelVehic,jdbcType=VARCHAR},
      </if>
      <if test="placaVehic != null">
        placa_vehic = #{placaVehic,jdbcType=VARCHAR},
      </if>
      <if test="colorVehic != null">
        color_vehic = #{colorVehic,jdbcType=VARCHAR},
      </if>
      <if test="anioVehic != null">
        anio_vehic = #{anioVehic,jdbcType=VARCHAR},
      </if>
      <if test="estReg != null">
        est_reg = #{estReg,jdbcType=VARCHAR},
      </if>
    </set>
    where id_hist_involuc = #{idHistInvoluc,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pe.gob.miraflores.mobile.domain.historico.HistoricoInvolucrado">
    update histomapa.hist_involucrado
    set id_hist = #{idHist,jdbcType=INTEGER},
      cod_involuc = #{codInvoluc,jdbcType=INTEGER},
      id_incidencia = #{idIncidencia,jdbcType=INTEGER},
      cod_tpo_involuc = #{codTpoInvoluc,jdbcType=INTEGER},
      cod_tpo_doc = #{codTpoDoc,jdbcType=INTEGER},
      desc_tpo_involuc = #{descTpoInvoluc,jdbcType=VARCHAR},
      desc_tpo_doc = #{descTpoDoc,jdbcType=VARCHAR},
      nomb_involuc = #{nombInvoluc,jdbcType=VARCHAR},
      edad_involuc = #{edadInvoluc,jdbcType=VARCHAR},
      num_doc_involuc = #{numDocInvoluc,jdbcType=VARCHAR},
      desc_observ = #{descObserv,jdbcType=VARCHAR},
      cod_vehic = #{codVehic,jdbcType=INTEGER},
      cod_clase_vehic = #{codClaseVehic,jdbcType=INTEGER},
      cod_marca_vehic = #{codMarcaVehic,jdbcType=INTEGER},
      cod_color_vehic = #{codColorVehic,jdbcType=INTEGER},
      clase_vehic = #{claseVehic,jdbcType=VARCHAR},
      marca_vehic = #{marcaVehic,jdbcType=VARCHAR},
      model_vehic = #{modelVehic,jdbcType=VARCHAR},
      placa_vehic = #{placaVehic,jdbcType=VARCHAR},
      color_vehic = #{colorVehic,jdbcType=VARCHAR},
      anio_vehic = #{anioVehic,jdbcType=VARCHAR},
      est_reg = #{estReg,jdbcType=VARCHAR}
    where id_hist_involuc = #{idHistInvoluc,jdbcType=INTEGER}
  </update>
</mapper>